
@charset'utf-8';

.wrapper{
  max-width:600px;
  margin:0 auto;
  color:#666;
}

#header{
  text-align: center;
  font-size:24px;
  width:100%;
  margin:1.5rem 0;
}

#input-wrap{
  margin:0 auto;
  width:80%;
  /* background-color: aqua; */
}
#input-wrap input{
  width:40%;
  height:24px;
  margin-right:1rem;
}

#main-wrap{
  text-align:center;
  margin:0 auto;
  width:70%;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding:0.8rem 2rem 0.8rem 0;
  
}
#main-wrap li {
  text-align: left;
  list-style-type: none;
  border-bottom: 1px dashed #aaa;
  padding: 0.8rem 0;
  display: flex;
  line-height: 32px;
  
}
#main-wrap p {
  width: 60%;
}

#main-wrap p.line-through {
  text-decoration: line-through;
}

button {
  height: 32px;

  cursor: pointer;
  background: #B78D4A;
  color: #fff;
  border: 1px solid #B78D4A;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.2rem 1.5rem;
  margin-bottom: 0.5rem;
}

button:hover {
  background-color: #D4BB92;
  border-color: #D4BB92;
}